@import 'tailwindcss';

@theme {
  --color-w95-cyan: #008080;
  --color-w95-blue: #000080;
  --color-w95-grey: #c6c6c6;
  --color-w95-dark-grey: #808080;
  --color-degree-red: #8e2c3b;
  --color-degree-beige: #fffde4;
  --color-degree-gold: #97845b;

  --cursor-w95-auto: url(/cursors/auto.cur), auto;
  --cursor-w95-pointer: url(/cursors/pointer.cur), pointer;
  --cursor-w95-text: url(/cursors/text.cur), text;
  --cursor-w95-move: url(/cursors/move.cur), move;
  --cursor-w95-ns-resize: url(/cursors/ns-resize.cur), ns-resize;
  --cursor-w95-ew-resize: url(/cursors/ew-resize.cur), ew-resize;
  --cursor-w95-nwse-resize: url(/cursors/nwse-resize.cur), nwse-resize;
  --cursor-w95-nesw-resize: url(/cursors/nesw-resize.cur), nesw-resize;

  --shadow-w95: -2px -2px #e0dede, -2px 0 #e0dede, 0 -2px #e0dede, -4px -4px white, -4px 0 white, 0 -4px white,
    2px 2px #818181, 0 2px #818181, 2px 0 #818181, 2px -2px #e0dede, -2px 2px #818181, -4px 2px white, -4px 4px black,
    4px 4px black, 4px 0 black, 0 4px black, 2px -4px white, 4px -4px black;
  --shadow-w95-inverted: -2px -2px #818181, -2px 0 #818181, 0 -2px #818181, -4px -4px black, -4px 0 black, 0 -4px black,
    2px 2px #e0dede, 0 2px #e0dede, 2px 0 #e0dede, 2px -2px #818181, -2px 2px #e0dede, -4px 2px black, -4px 4px white,
    4px 4px white, 4px 0 white, 0 4px white, 2px -4px black, 4px -4px white;
  --shadow-w95-thin: -1px -1px #e0dede, -1px 0 #e0dede, 0 -1px #e0dede, -1px -1px white, -1px 0 white, 0 -1px white,
    1px 1px #818181, 0 1px #818181, 1px 0 #818181, 1px -1px #e0dede, -1px 1px #818181, -1px 1px white, -1px 1px black,
    1px 1px black, 1px 0 black, 0 1px black, 1px -1px white, 1px -1px black;
  --shadow-w95-inverted-thin: -1px -1px #818181, -1px 0 #818181, 0 -1px #818181, -2px -2px black, -2px 0 black,
    0 -2px black, 1px 1px #e0dede, 0 1px #e0dede, 1px 0 #e0dede, 1px -1px #818181, -1px 1px #e0dede, -2px 1px black,
    -2px 2px white, 2px 2px white, 2px 0 white, 0 2px white, 1px -2px black, 2px -2px white;
  --shadow-w95-alt: -3px -3px white, -3px 0 white, 0 -3px white, 3px 3px #818181, 0 3px #818181, 3px 0 #818181,
    -3px 3px #818181, -3px 3px white, 3px -3px white;
  --shadow-w95-alt-inverted: -3px -3px #818181, -3px 0 #818181, 0 -3px #818181, 3px 3px white, 0 3px white, 3px 0 white,
    -3px 3px white, -3px 3px #818181, 3px -3px #818181;
  --shadow-w95-alt-thin: -2px -2px white, -2px 0 white, 0 -2px white, 2px 2px #818181, 0 2px #818181, 2px 0 #818181,
    -2px 2px #818181, -2px 2px white, 2px -2px white;
  --shadow-w95-alt-inverted-thin: -2px -2px #818181, -2px 0 #818181, 0 -2px #818181, 2px 2px white, 0 2px white,
    2px 0 white, -2px 2px white, -2px 2px #818181, 2px -2px #818181;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility writing-sideways-rl {
  writing-mode: vertical-rl;
  text-orientation: sideways;
}

@layer base {
  img {
    image-rendering: pixelated;
  }

  button {
    @apply cursor-w95-pointer;
  }

  /* Custom scrollbar */
  ::-webkit-scrollbar {
    width: 16px;
    height: 16px;
    background: none;
  }

  ::-webkit-scrollbar-thumb,
  body *::-webkit-scrollbar-button {
    width: 16px;
    height: 16px;
    background: silver;
    box-shadow:
      inset 1px 1px #dfdfdf,
      inset -1px -1px gray;
    border: 1px solid;
    border-color: silver #000 #000 silver;
  }

  ::-webkit-scrollbar-track {
    image-rendering: pixelated;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAyIDIiIHNoYXBlLXJlbmRlcmluZz0iY3Jpc3BFZGdlcyI+CjxtZXRhZGF0YT5NYWRlIHdpdGggUGl4ZWxzIHRvIFN2ZyBodHRwczovL2NvZGVwZW4uaW8vc2hzaGF3L3Blbi9YYnh2Tmo8L21ldGFkYXRhPgo8cGF0aCBzdHJva2U9IiNjMGMwYzAiIGQ9Ik0wIDBoMU0xIDFoMSIgLz4KPC9zdmc+');
    background-position: 0 0;
    background-repeat: repeat;
    background-size: 2px;
  }

  ::-webkit-scrollbar-button {
    background-repeat: no-repeat;
    background-size: 16px;
  }

  ::-webkit-scrollbar-button:single-button:vertical:decrement {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTcgNWgxTTYgNmgzTTUgN2g1TTQgOGg3IiAvPgo8L3N2Zz4=');
  }

  ::-webkit-scrollbar-button:single-button:vertical:increment {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTQgNWg3TTUgNmg1TTYgN2gzTTcgOGgxIiAvPgo8L3N2Zz4=');
  }

  ::-webkit-scrollbar-button:single-button:horizontal:decrement {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTggM2gxTTcgNGgyTTYgNWgzTTUgNmg0TTYgN2gzTTcgOGgyTTggOWgxIiAvPgo8L3N2Zz4=');
  }

  ::-webkit-scrollbar-button:single-button:horizontal:increment {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTYgM2gxTTYgNGgyTTYgNWgzTTYgNmg0TTYgN2gzTTYgOGgyTTYgOWgxIiAvPgo8L3N2Zz4=');
  }

  ::-webkit-scrollbar-corner {
    background: silver;
  }
}
