@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img {
    image-rendering: pixelated;
  }
}

@layer utilities {
  .writing-sideways-lr {
    writing-mode: vertical-lr;
    text-orientation: sideways;
  }

  .writing-sideways-rl {
    writing-mode: vertical-rl;
    text-orientation: sideways;
  }
}
